<a href="https://colab.research.google.com/github/parkjunwu2003/22_05_basic_python/blob/main/BP_05_Ch5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.다음 프로그램의 출력은 무엇인가?

In [1]:
age = 20
if age < 20:
  print('20살 미만')
else:
  print('20살 이상')

20살 이상

2. 1번 문제에서 age가 30이고 50이하인 것을 체크하려면 어떻게 하여야 하는가?

In [4]:
age = 20
if age >= 30 and age <= 50:
  print('30살 이상이고 50살 이하')

3. 사용자에게 현재 온도를 질문하고 온도가 25도 이상이면 반바지를 추천하고 25도 미만이면 긴바지를 추천하는 프로그램을 잘성해보자.

In [6]:
temp = int(input("현재 온도를 입력하시오: "))

if temp >= 25:
  print("반바지를 입으세요")
else:  print("긴바지를 입으세요")

현재 온도를 입력하시오: 28
반바지를 입으세요

4. 학생의 시험 점수를 물어보고 시험 점수가 90점 이상이면 A,80점 이상이면 B, 70점 이상이면 C. 60점 이상이면 D, 그 외의 점수이면 F를 학점으로 주는 프로그램을 작성하라

In [7]:
score = int(input("성적을 입력하시오: "))

if score >= 90:
  print("A학점입니다.")
elif score >= 80:
  print("B학점입니다.")
elif score >= 70:
  print("C학점입니다.")
elif score >= 60:
  print("D학점입니다.")
else :
  print("F학점입니다.")

성적을 입력하시오: 93
A학점입니다.

5. 난수를 사용하여 1부터 100사이의 숫자를 사용하는 뺼셈 문제를 생성하고 사용자에게 물어본 후에 사용자의 답변이 올바른지를 검사하는 프로그램을 작성하라.

In [ ]:
import random
x = random.randint(1,100)
y = random.randint(1,100)

ans = int(input(str(x)+"-"+"-"))

if ans == x -y :
  print("맞았습니다.")
else :
  print("틀렷습니다.")

6. 사사용자로부터 정수를 받아서 이 정수가 2와 3으로 나누어떨어질 수 있는지를 출력하라.

In [ ]:
n = int(input("정수를 입력하시오; "))

if n%2==0 and n$3==0:
  print("2와 3으로 나누어떠어집니다.")
else :
  print("2와3으로 나누어 떨어지지 않습니다.")